@import "../lib/sassCore";
@import "../lib/var";
.card26 {
    .card-wrap{
        .card-main{
            margin: 0;
            padding: P2R(10px) 0;
        }
    }
	.m-img-box{
        @include imgsize(P2R(70px),P2R(70px));
        margin: 0 P2R(10px) 0 0;
    }
    .card-title{
        font-size: $f14;
        color: $cl-c;
        margin-bottom: P2R(10px);
    }
    .m-link-icon2{
        width: P2R(44px);
        height: P2R(14px);
    }
}
