@import"../lib/sassCore";
@import"../lib/var";
.card24 {
    .card-title{
        font-size: $f16;
        color: $cl-b;
        padding: P2R(12px) 0 0 P2R(12px);
    }
    //均分栅格 上下内间距,左右内间距,列间距,行间距。
    @include col(P2R(10px),$gap,P2R(8px),P2R(10px));

    &.type-1 {
      padding: 0 P2R(13px) P2R(10px);
      .card-wrap {
        border: 0 !important;
      }
      .card-main {
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
          display: none;
          height: 0;
        }
      }
    }
    .m-btn {
      display: inline-block;
      font-size: $f12;
      line-height: P2R(17px);
      height: P2R(26px);
      padding: P2R(4px) P2R(5px);
      border-color: #ececec;
      color: $cl-b;
      &.m-btn-tag {
        background-color: #f7f7f7;
      }
      &.m-btn-icon {
        img {
          width: P2R(9px);
          height: P2R(9px);
          margin-right: 3px;
        }
      }
      & + .m-btn {
        margin-left: P2R(10px);
      }
    }
}
