@import "../lib/sassCore";
@import "../lib/var";
.card43 {
	.card-wrap{
        height: P2R(44px);
        .card-main{
            margin: 0;
        }
    }
    .box-left{
        font-size: 0;
        min-width: 0;
				overflow: hidden;
        .main-link{
            font-size: $f16;
            color: $cl-a;
						min-width: 0;
						.main-text{
							min-width: 0;
							display: block;
							/*处理低版本安卓4.x不截字的问题*/
							max-width: 10rem;
							max-width: 100vw;
						}
						.sub-text{
							white-space: nowrap;
							margin-left: P2R(8px);
							flex-shrink: 0;
						}
        }
    }
		.m-avatar-box{
			margin-right: P2R(12px);
			flex-shrink: 0;
			.m-img-box{
				width: P2R(24px);
				height: P2R(24px);
				&+ .m-img-box{
					margin-left: P2R(8px);
				}
			}
		}
}
