@import "../lib/sassCore";
@import "../lib/var";
.card40 {
    .card-wrap{
        .card-main{
            margin: 0;
            padding: P2R(10px) 0;
        }
    }
	.m-img-box{
        @include imgsize(P2R(50px),P2R(50px));
        margin: 0 P2R(10px) 0 0;
    }
    .m-text-box{
        .stat-a {
        color: $cl-r;
        }
        .stat-b {
        color: $cl-g;
        }
        height: P2R(45px);
    }
    .box-right{
        text-align: right;
    }  
}
